body {
    width: 980px;
    background-color: #F1F1F1;
    margin: 5px 150px;
    font-family: sans-serif;
    font: #666666;
    border: 1px solid #AAAAAA;
}

div#banner {
    background-image: url("images/hero.png");
    background-color: #F1F1F1;
    height: 670px;
    background-repeat: no-repeat;
    padding: 40px;
}

#banner, h1, h2 {
    text-align: right;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table{
    border-collapse: collapse;
    background-color: #F1F1F1;
}

tr, td, th {
    border: 1px solid #AAAAAA;
    
}