body{
    width:980px;
    background-color:#F1F1F1;
    margin:5px 120px;
    font-family: sans-serif;
    font:#666666;
    border:1px solid black;
}
div#banner{
background-image: url("images/hero.png");
height:670px;
background-repeat:no-repeat;
padding: 40px;
}
#banner,h1,h2{
    text-align: right;
}
.section{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
 tr,td,th{
     border:1px solid black;
     border-collapse: collapse;
     border-spacing: 0;
 }
